img {
	width:  500px;
	border-radius
}

#banner {
	width: 100%;
	border-radius: 100px;
	position:  relative;
}

#logo {
	width:  20%;
	position: relative;
	transform:  translate(60px, -850px);
}

#signin {
	width: 10%;
	transform: translate(1120px, -1075px);
}

#login {
	width: 10%;
	transform: translate(1150px, -1075px);
}

body{
font-family: 'Roboto Condensed', sanrelative
text-align:  center;
}

#yoru {
	transform: translate(100px, -500px);
}

#gate {
	transform: translate(1100px, -550px);
	font-size: 300%;
	color: rebeccapurple;
}

h1{
	font-size: 500%;
	color:  mediumpurple;
}

p {
	font-size:  200%;
}

li{
	line-height: 50px;
	text-align:  left;
}

#heading2 {
	text-align:  left;
    font-size:  300%;
}

#card1 {
	width: 30%;
	border-radius: 10000000px;
	transform: translate(0px, -300px);
}

#attack {
	transform: translate(1px, -400px);
}

#card2 {
	width: 30%;
	border-radius: 10000000px;
}

#card3 {
	width: 30%;
	border-radius: 10000000px;
}

*{
	margin: 0;
	padding: 0;
}

#topbanner{
	diplay: flex;
}